<div class="container" id="mainPopup">
  <img src="../../static/graffiome_logo_64.png" alt="graffio.me icon"/>
  <h2>Graffio.me</h2>
  <div>
    <button class="drawBtn" ng-click="toggleStatus()" ng-controller="onOffController" ng-class='{"active":onOffButtonTxt === "Off"}'>Turn Editing {{ onOffButtonTxt }}</button>
    <button class="highlightBtn" ng-click="toggleHighlighter()" ng-controller="onOffController" ng-class='{"active":highlightBtnTxt === "On"}'>Highlighting {{ highlightBtnTxt }}</button>
  </div>
  <div ng-controller="groupController">
    <div>
      Active Group:
      <div class='fx-fade-left'>
        {{user.activeGroup}}
      </div>
    </div>
    
    <div>Groups:</div>
    <div ng-if='!groupsLoaded'>
      <span style='color: gray;'>Loading groups...</span>
    </div>
    <div class='fx-fade-left' ng-repeat="group in groups">
      <div class="groupName">
        {{group.name}}
      </div>
      <div class="removeBtn">
        <input type="submit" value='Join' ng-click="setActiveGroup(group)"></input>
        <input type="submit" value='Remove' ng-click="removeGroup(group)"></input>
      </div>
    </div>
    <form>
      <input type='text' ng-model='newGroup' placeholder='Enter a group name' maxlength="15"></input>
      <input type="submit" value='Add Group' class="group" ng-click="addGroup()"></input>
    </form>
  </div>
  <div ng-controller="paletteController">
    <button class="black" ng-click="changeColor($event)">Black</button>
    <button class="blue" ng-click="changeColor($event)">Blue</button>
    <button class="red" ng-click="changeColor($event)">Red</button>
    <button ng-click="nyan()">Nyan</button>
    <button ng-click="erase()">Erase</button>
    <br>
  </div>
  <button ng-click="logout()">Log Out!</button>
</div>
